# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
MenuDemo/Debug/vc90.pdb
*.idb
QQDemo/Debug/color_skin.obj
*.obj
QQDemo/Debug/QQDemo.map
*.pdb
*.ncb
DuiLib.suo
*.pch
FlashDemo/Debug/FlashDemo.map
*.bsc
FlashDemo/FlashDemo.vcproj.wengmq-PC.wengmq.user
*.user
QQDemo/Debug/mt.dep
*.dep
*.map

lib
QQDemo/Debug
360SafeDemo/Debug
FlashDemo/Debug
GameDemo/Debug
ListDemo/Debug
RichListDemo/Debug
DuiLib/Debug
DuiLib/Release
360SafeDemo/Release
FlashDemo/Release
GameDemo/Release
ListDemo/Release
QQDemo/Release
RichListDemo/Release
MenuDemo/Debug
MenuDemo/Release
TestApp1/Debug
TestApp1/Release
ScrCapture/Debug
ScrCapture/Release
DuiLib/Build
DuiLib.VC.db
DuiLib.VC.VC.opendb
.vs
bin/*.exe
bin/*.dll
bin/*.iobj
bin/*.ipdb


# Precompiled Headers
/bin
/360SafeDemo/Debug
/360SafeDemo/Release
/DuiLib/Debug
/DuiLib/Release
/FlashDemo/Debug
/FlashDemo/Release
/GameDemo/Debug
/GameDemo/Release
/ListDemo/Debug
/ListDemo/Release
/QQDemo/Debug
/QQDemo/Release
/RichListDemo/Debug
/RichListDemo/Release
/MenuDemo/Debug
/MenuDemo/Release

/.vs
/.vscode
/.idea

/SrcCapture/Debug
/SrcCapture/Release
/TestApp1/Debug
/TestApp1/Release

/ipch
/Debug
/Release
/Debug64
/Release64

/out
/Lib
/Build

/DuiLib.VC*
/DuiLib.sdf
/DuiLib/Build

/ScrCapture/Debug/
/ScrCapture/Release/
